# GitHub Actions files
/.github/               @skriptfabrik/github-actions-maintainers

# Ansible files
/defaults/              @skriptfabrik/ansible-maintainers
/handlers/              @skriptfabrik/ansible-maintainers
/meta/                  @skriptfabrik/ansible-maintainers
/molecule/              @skriptfabrik/ansible-maintainers
/tasks/                 @skriptfabrik/ansible-maintainers
/templates/             @skriptfabrik/ansible-maintainers
/vars/                  @skriptfabrik/ansible-maintainers
ansible.cfg             @skriptfabrik/ansible-maintainers
